/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Oxygen Mono', monospace;
}
